html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* my styles */
/* login page*/
.login-card {
  max-width: 350px;
}

/*signup page*/
.signup-card {
  max-width: 400px;
}

.backto-login-link {
  color: #036462;
  font-size: 12px;
}

/*contacts*/
a {
  text-decoration: none;
  color: rgb(66, 66, 66);
}
a:hover {
  font-weight: bolder;
  color: #00a149;
}
.card-header {
  background-color: #02cb5b;
  color: white;
}
.card {
  border-color: #02cb5b;
}

/* small{
  color: rgb(209, 0, 0);
} */
.fixed-box {
  max-height: 80vh;
  overflow-y: scroll;
}
.fa-star {
  cursor: pointer;
}
.fa-star:hover {
  transform: scale(1.5);
  animation: 1s ease-in-out linear;
}
.fa-star {
  color: yellow;
}

.starButton {
  border: none;
  background: none;
}

/* input form  */
.inputError {
  color: rgb(153, 0, 0);
}
